.cardList {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: center; 
    padding-bottom: 5rem;
    padding-left: 50px;
    padding-right: 50px;
    @media (max-width: 768px) {
        width: 100%;
        justify-content: center;
        padding-left: 0px;
        padding-right: 0px;
    }
}
.title {
    color:  $color-primary;
    font-weight: 100;
    padding-left: 50px;
}